.game-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    min-height: 2.5em;
    text-align: center;
}

.game-header strong {
    display: inline-block;
    width: 300px;
    text-align: center;
}


.game-header small {
    display: block;
    font-size: 30px;
    font-weight: normal;
    color: #aaa;
    margin-top: 4px;
}

.game-header.draw {
    color: #777;
}

.game-header.somebody-win.player_1 {
    color: #ff4d4d;
    text-shadow: 0 0 10px #ff4d4daa;
}

.game-header.somebody-win.player_2 {
    color: #f5d742;
    text-shadow: 0 0 10px #f5d742aa;
}


.game-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 50px;
}

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-to-main {
    position: absolute;
    top: 20px;
    left: 20px;
}

.btn-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 40px;
}

.restart-btn,
.reset-btn {
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.restart-btn {
    background-color: #2ecc71;
    color: white;
}

.reset-btn:hover,
.restart-btn:hover {
    transform: translateY(-2px);
}

.reset-btn {
    background-color: #e74c3c;
    color: white;
}

.restart-btn.highlight {
    box-shadow: 0 0 15px 3px rgba(46, 204, 113, 0.7);
}

